<% if @payments.any? %>
    
  <%=render @payments%>
  <% else %>
  <article class="message">
    <div class="message-body"><h1>Payment Successful!</h1></div>
     
  </article>
  <% end %>
</section>